ul{
    display: flex;
   
}
li{
    list-style: none;
    margin: 0 10px;
}
table{
    border: 1px black solid;
    border-collapse: collapse;
}
tr,td{
    border: 1px solid black;
    padding: 0 20px;
}
